{# accordion-body.twig #}
{%
  set classes = [
    'info_content'
  ]
%}
{%
  set classesBody = [
    'px-4',
    'pt-3',
    'pb-'
  ]
%}
{% if body %}
  <div{{ attributes.addClass(classes) }}>
    <div class="{{ classesBody|join(" ") }}">
      {{ body }}
    </div>
  </div>
{% endif %}