<section class="in_progresse">
  <div>
    <img src="{{ theme_url ~ '/front/assets/images/in_progress_img.png' }}" alt="">
    <h2>{{ 'En cours de Développement.'|t }}</h2>
    <p>{{ 'Ces produits sont en cours de développement.'|t }}</p>
  </div>
</section>